* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: rgba(0, 0, 0, 0.120);
}

h1 {
    font-size: 22px;
}

h2 {  
    font-size: 16px;
}

main {
    background-color: rgba(224, 178, 196, 0.89);
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.170);
}

#box-text-profile, #text-profile { 
    
}

.link-redes-sociais {
    
}

.cursos {
    
}